@charset "utf-8";
.row .navbar-default {
	background-color: #0866B3;
	background-image: -webkit-linear-gradient(270deg,rgba(1,14,95,1.00) 0%,rgba(0,102,153,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(1,14,95,1.00) 0%,rgba(0,102,153,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(1,14,95,1.00) 0%,rgba(0,102,153,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(1,14,95,1.00) 0%,rgba(0,102,153,1.00) 100%);
}
.row .nav.navbar-nav > li > a {
	border: 1px solid #2A62E9;
	width: 160px;
	text-align: center;
	left: -96px;
	color: #FFFFFF;
	font-weight: bold;
}
.row .col-sm-12 h2 {
	text-align: center;
	font-size: 350%;
}
.row .col-sm-12 p {
	text-align: center;

}
header .row {
}



.row .nav.navbar-nav {
	margin-top: 10px;
	margin-right: auto;
	margin-left: 334px;
	margin-bottom: 0px;
	width: 715px;
	float: none;
}
main.row aside sideimage {
	padding: 0px;
	margin: 0px 0px 20px 0px;
}
main.row aside sideimage p {
	margin: 0px 0px 5px 0px;
	text-indent: 5em;
}
main.row aside {
	border-top: solid 5px #000;
	margin: 1em 0px;
	padding: 1em 0px;
	border-bottom: solid 3px #000;
}
body {
	font-family: source-sans-pro, "Trebuchet MS", Verdana, Arial, sans-serif;
}
main.row article banner {
	background-color: #FF6467;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 15px;
	padding-bottom: 15px;


}
main.row article p {

}
.funko {
}
image.funko {
	border-bottom: solid;




}
.row .col-sm-12 p {
}
header.row p {
	color: #00197B;
	font-weight: bold;
	letter-spacing: 25px;
}


.falloutbanner {
}
.custompop {
	float: none;
	padding-right: 0px;
	margin-left: 90px;
}
.col-sm-4 sideimage p {
	padding-top: 5px;
	padding-bottom: 5px;
}
sideimage h4 {
	font-size: 15px;
	font-weight: bold;
	color: #010E5F;
}
sideimage h3 {
	color: #010E5F;
	font-weight: bold;
}



sideimage image .custompop {
	padding-right: 0px;
	float: none;
	border-bottom-width: 24px;

}
sideimage .funko img {
	padding-bottom: 0px;
	float: none;
}
.funkologo {
	padding-left: 0px;
	margin-left: 44px;
}
.extra {
}
.overwatchlogo {
	padding-right: 0px;
	margin-left: 20px;
	margin-top: 5px;
	margin-bottom: 5px;


}
.falloutlogo {
	margin-left: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.dbzlogo {
	margin-left: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.jack {
	float: right;
	margin-left: 10px;

}
.extra {
}
.extra {
}
.zeldabanner {
	margin-left: 6px;
	margin-bottom: 5px;
	margin-top: 5px;
	border-bottom-style: solid;
	border-bottom-width: 5px;
	border-top-style: solid;
	border-top-width: 5px;
}
sideimage h5 {
	color: #010E5F;
	font-size: 20px;
}
.collectionpics {
	margin-left: 15px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.panel-default > .panel-heading {
	background-image: -webkit-linear-gradient(270deg,rgba(1,14,95,1.00) 0%,rgba(0,102,153,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(1,14,95,1.00) 0%,rgba(0,102,153,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(1,14,95,1.00) 0%,rgba(0,102,153,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(1,14,95,1.00) 0%,rgba(0,102,153,1.00) 100%);
	color: #FFFFFF;
}
.row footer.row {
	background-image: -webkit-linear-gradient(270deg,rgba(1,14,95,1.00) 0%,rgba(0,102,153,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(1,14,95,1.00) 0%,rgba(0,102,153,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(1,14,95,1.00) 0%,rgba(0,102,153,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(1,14,95,1.00) 0%,rgba(0,102,153,1.00) 100%);
	text-align: center;
	color: #FFFFFF;
}
.quote {
}
sideimage .quote {
	font-style: oblique;
	float: none;
}
